.header__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: end;
    height: 268px;
    align-items: center;
}

.header__description {
    color: var(--nuetrals4);
    font-family: var( --Poppins-Bold);
    font-size: 12px;
    line-height: 12px;
    text-transform: uppercase;
}
.header__title {
    color: var(--nuetrals2);
    font-family: var(--DMSans-Bold);
    font-size: 40px;
    line-height: 48px;
    letter-spacing: -0.01em;
    margin: 8px 0 24px 0;
}

.header__title,.header__description {
    text-align: center;
}

.header__btn {
    display: flex;
    color: var(--nuetrals2);
    font-family: var(--DMSans-Bold);
    font-size: 16px;
    line-height: 16px;
    border: 2px solid var(--nuetrals4);
    border-radius: 90px;
    max-width: 182px;
    width: 100%;
    justify-content: center;
    padding: 16px 0;
    transition: 0.4s;
}

.header__btn:hover {
    background: var(--primary1);
    border-color: var(--nuetrals1);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


@media(max-width: 1024px) {
    .header__content {
        height: 252px;
    }
}

@media(max-width: 500px) {
    .header__content {
        height: 236px;
    }

    .header__title {
        font-size: 32px;
    }
}

@media(prefers-color-scheme: dark) {
    .header__description {
        color:var(--nuetrals4);
    }
    .header__title {
        color:var(--nuetrals8);
    }
    .header__btn {
        color:var(--nuetrals8);
        border-color: var(--nuetrals4);
    }
}