.nav {
    padding: 20px 0;
    border-bottom: 1px solid var(--neutrals6);
}

.nav__content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav__left {
    display: flex;
    align-items: center;
    column-gap: calc(15px + (32 - 15) * ((100vw - 1024px) / (1920 - 1024)));
}
/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */
.logo {
    color: var(--nuetrals2);
    font-family: var(--Poppins-SemiBold);
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.02em;

    display: flex;
    align-items: center;
    column-gap: 8px;
}


.nav__logo::after {
    content: '';
    width: 2px;
    height: 40px;
    border-radius: 2px;
    background: var(--neutrals6);
    margin-left: calc(7px + (32 - 7) * ((100vw - 1024px) / (1920 - 1024)));
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

.nav__menu {
    display: flex;
    column-gap: calc(15px + (32 - 15) * ((100vw - 1024px) / (1920 - 1024)));
}


.text-1  {
    font-size: 14px;
    line-height: 16px;
    font-family: var(--DMSans-Bold);    
    color: var(--neutrals4);
}

.nav__link:hover {
    color: var(--nuetrals2);
}


.nav__right {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 24px;
}

.nav__right-search {
    width: 256px;
    height: 40px;
    border: 2px solid var(--neutrals6);
    border-radius: 8px; 
    padding: 10px 16px;
    background: url('../../img/icons/search.svg')  95% no-repeat;
    transition: 0.2s;
    font-family: var(--Poppins-Regular);
    color: var(--neutrals4);
    font-size: 12px;
    line-height: 20px;
}


.nav__right-search:focus {
    outline-color: var(--primary1);
    background: url('../../img/icons/Ñlose.svg')  95% no-repeat;
}

input[type="search"]::-webkit-search-cancel-button {
    -webkit-opacity: 0;
    -webkit-padding: 10px;
}

.nav__right-search-adaptive {
    display: none;
}

.nav__right-notification {
    display: flex;
    justify-content: center;
}


.nav__right-btns {
    display: flex;
    column-gap: 12px;
}

.nav__right-btn {
    display: inline-block;
    color: var(--nuetrals2);
    border: 2px solid var(--neutrals6 );
    padding: 12px 16px;
    border-radius: 90px;
}

.nav__right-btn:hover {
    color: var(--nuetrals8);
    background: var(--primary1);
}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */

/* MEDIA */

@media(prefers-color-scheme: dark) {
    .nav {
        border-bottom: 1px solid var(--neutrals3);
    }
    
    .logo {
        color: var(--neutrals7);
    }

    .nav__logo::after {
        background: var(--neutrals3);
    }

    .nav__right-search {
        border: 2px solid var(--neutrals3);
    }

    .nav__right-btn {
        border: 2px solid var(--neutrals4);
        color: var(--nuetrals8);
    }

    .nav__right-btn:hover {
        border: 2px solid var(--nuetrals1);
    }
     
    .nav__link:hover {
        color: var(--neutrals6);
    }
}


@media(max-width: 1024px) {
    .nav__menu, .nav__logo:after {
        display: none;
    }

    .container {
        max-width: 864px;
    }

}

@media(max-width: 768px) {
    .nav__right {
        display: none;
    }

    .container {
        padding: 0 32px;
    }

    .nav {
        border: none;
        margin-top: 48px;
    }

}

/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>> */


/* >>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>>. */

.burger__open {
    display: none;
}